@media only screen and (min-width: 768px) and (max-width: 992px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

    #menu{
        background-color: pink;
      }


    .dropdown {
        display: none;
    }

    #banner img {
        width: 100%;
        height: auto;
    }
    #banner {
        position: relative;
    }
    .content-banner {
        position: absolute;
    }
    .content-banner h1 {
        color: white;
        font-size: 250%;
        margin-top: 30%;
    }
    .col {
        display: inline-block;
        margin-left: 3%;
        margin-right: -4%;
    }

    img {
        width: 95%;
        height: auto;
      }
    .col img {
        margin-top: 3%;
        height: auto;
    }

    #footer a {
        font-size: 180%;
    }
    #footer {
        background-color: #f0f0f0;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    #banner hr {
        display: none;
    }

}